body {
  background-color: cadetblue;
  margin: 0px;
}

h1 {
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: center;
}

#gameboard {
  display: grid;
  width: 30vw;
  height: 30vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2%;
}

.square {
  width: 100%;
  background-color: aliceblue;
}
