@font-face {
  font-family: "Rancho";
  src: url("./fonts/Rancho-Regular.ttf");
}

body {
  background-color: rgb(129, 129, 129);
  margin: 0px;
}

h1 {
  text-align: center;
  font-family: Rancho, sans-serif;
  font-size: max(7vw, 7vh);
  margin: 0px;
  background-color: rgb(159, 215, 255);
}

.main-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#gameboard {
  display: grid;
  width: max(25vh, 30vw);
  height: max(25vh, 30vw);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2%;
}

.square {
  width: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square.X {
  font-family: "Rancho", sans-serif;
  font-size: max(7vh, 7vw);
  color: red;
}

.square.O {
  font-family: "Rancho", sans-serif;
  font-size: max(7vh, 7vw);
  color: blue;
}

.final-popup {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: rgb(236, 236, 236);
  position: fixed;
  padding: 30px;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  width: 30vw;
  height: 30vh;
}

.final-popup .popup-text {
  font-family: Rancho, sans-serif;
  font-size: max(6vh, 5vw);
}

.final-popup .popup-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.final-popup .popup-buttons img {
  width: 80px;
  height: auto;
}

.final-popup .popup-buttons img:hover {
  transform: scale(1.2);
}
